*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body{
  background-color: rgb(245, 193, 98);
  background-repeat: no-repeat;
  background-size:cover;
  border: 40px groove orange;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin:10px;
}

h1{
  margin:20px;
  font-size: 60px;
  color: rgb(83, 35, 3);
  text-shadow: 4px 2px 8px rgb(46, 31, 3);
}

input{
  border-radius: 30px;
}

button{
  border-radius: 30px;
}

input:hover{
  border: 3px solid rgb(88, 40, 12);
  color: black;
  background-color: chocolate;
  box-shadow: 5px 0px 10px 10px rgb(230, 143, 14);
}
button:hover{
  border: 3px solid rgb(88, 40, 12);
  color: black;
  background-color: chocolate;
  box-shadow: 5px 0px 10px 10px rgb(230, 143, 14);
}


input,button{
  padding:10px;
  margin:10px;
}