html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

.box {
    border: 5px solid brown;
    width: 830px;
    margin-left: 250px;
    background-color: lightcoral;
}

.stats {
    display: flex;
    margin: 4rem auto;
    width: 45rem;
}

.info {
    border: 4px solid crimson;
    padding: 25px;
    margin: auto;
    width: 320px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgb(255, 139, 162);
}

#pos {
    margin-left: 10px !important;
}

.container {
    width: 45rem;
    margin: 4rem auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.seat {
    background-color:lightpink;
    height: 1.5rem;
    flex-basis: 5%;
    border: solid 1px purple;
    cursor: pointer;
}

.seat:hover {
    background-color:yellow;
}

.occupied {
    background-color:mediumorchid;
    border: solid 3px purple;
}

.occupied:hover {
    background-color: #ede6e7;
}
